<h1>Plots</h1>

<% @plots.each do |p| %>
  <div id="plot-<%="#{p.id}"%>">
    <p>Plot #<%= p.number %></p>
    <p>plants in this plot:</p>
    <% p.plot_plants.each do |pp| %>
      <p><%= pp.plant.name %></p>
      <%= link_to "Remove #{pp.plant.name}", plot_plant_path(pp), method: :delete %>
    <% end %>
  </div>
<% end %>
